{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="row">
    <div class="col-sm-12">
        <h5 class="mb-3">FAQ Section</h5>
        <hr>
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0"><a href="#!" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What should I do during a flood?</a></h5>
                </div>
                <div id="collapseOne" class=" card-body collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <p>During a flood, it's important to stay safe and follow emergency instructions. Here are some key actions to take:</p>
                    <ul>
                        <li>Stay informed about the situation through official channels.</li>
                        <li>Evacuate to higher ground if instructed to do so.</li>
                        <li>Avoid walking or driving through floodwaters.</li>
                        <li>Turn off utilities if instructed to do so.</li>
                        <li>Listen to emergency broadcasts for updates and instructions.</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">How can I prepare for a flood?</a></h5>
                </div>
                <div id="collapseTwo" class="collapse card-body" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <p>Preparing for a flood can help minimize damage and ensure your safety. Here are some steps to take:</p>
                    <ul>
                        <li>Create an emergency plan for your family.</li>
                        <li>Build an emergency kit with essential supplies.</li>
                        <li>Keep important documents and valuables in a waterproof container.</li>
                        <li>Know your risk and evacuation routes.</li>
                        <li>Consider flood insurance for your property.</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">What should I do after a flood?</a></h5>
                </div>
                <div id="collapseThree" class="card-body collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <p>After a flood, it's important to take steps to recover and ensure your safety. Here's what to do:</p>
                    <ul>
                        <li>Wait for authorities to declare it safe to return home.</li>
                        <li>Inspect your property for damage and take photos for insurance purposes.</li>
                        <li>Dispose of any contaminated food or water.</li>
                        <li>Clean and disinfect your home thoroughly.</li>
                        <li>Monitor your health for any signs of illness.</li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        What causes floods?</a></h5>
                </div>
                <div id="collapseFour" class="card-body collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <p>Floods can be caused by various factors such as heavy rainfall, river overflow, storm surges, snowmelt, dam or levee failures, and rapid urbanization leading to inadequate drainage systems.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="heading5">
                    <h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                        How can I assess my flood risk?</a></h5>
                </div>
                <div id="collapse5" class="card-body collapse" aria-labelledby="heading5" data-parent="#accordionExample">
                    <p>You can assess your flood risk by considering factors like your geographic location, proximity to water bodies, elevation, historical flood data, and the presence of flood control infrastructure. Local authorities and flood maps can provide valuable information as well.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="heading6">
                    <h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                        What is flash flooding?</a></h5>
                </div>
                <div id="collapse6" class="card-body collapse" aria-labelledby="heading6" data-parent="#accordionExample">
                    <p>Flash flooding is a sudden and intense flooding event that occurs within a short period, often without warning. It is typically caused by heavy rainfall, sudden thawing of snow, or rapid ice melting, resulting in rapid inundation of low-lying areas and urban drainage systems.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="heading7">
                    <h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                        What should I include in a flood emergency kit?</a></h5>
                </div>
                <div id="collapse7" class="card-body collapse" aria-labelledby="heading7" data-parent="#accordionExample">
                    <p>A flood emergency kit should contain essential items such as bottled water, non-perishable food, first aid supplies, medications, flashlight, batteries, blankets, important documents (insurance policies, identification, etc.), and a battery-powered radio.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="heading8">
                    <h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                        How can I protect my home from flooding?</a></h5>
                </div>
                <div id="collapse8" class="card-body collapse" aria-labelledby="heading8" data-parent="#accordionExample">
                    <p> To protect your home from flooding, consider measures such as elevating utilities and appliances, installing flood barriers or flood vents, waterproofing basements, and landscaping with flood-resistant vegetation. It's also important to have a comprehensive flood insurance policy in place.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="heading9">
                    <h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                        Is flood insurance necessary if I don't live in a high-risk area?</a></h5>
                </div>
                <div id="collapse9" class="card-body collapse" aria-labelledby="heading9" data-parent="#accordionExample">
                    <p> Yes, flood insurance is recommended for all homeowners, regardless of their location. Flood damage can occur anywhere, and standard homeowners insurance policies typically do not cover flood-related losses. Flood insurance can provide financial protection and peace of mind in the event of a flood.</p>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="heading10">
                    <h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                        What should I do during a flood evacuation?</a></h5>
                </div>
                <div id="collapse10" class="card-body collapse" aria-labelledby="heading10" data-parent="#accordionExample">
                    <p>During a flood evacuation, follow evacuation orders issued by local authorities. Gather essential items, including medications, important documents, clothing, and emergency supplies, and evacuate to higher ground or designated evacuation shelters. Stay tuned to emergency alerts and avoid driving through flooded areas.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="heading11">
                    <h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                        How can I get involved in flood prevention efforts in my community?</a></h5>
                </div>
                <div id="collapse11" class="card-body collapse" aria-labelledby="heading11" data-parent="#accordionExample">
                    <p>You can get involved in flood prevention efforts by participating in community awareness campaigns, volunteering with local organizations focused on flood preparedness and mitigation, supporting flood control infrastructure projects, and advocating for sustainable land use and urban planning practices.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="heading12">
                    <h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                        Are there regulations for building in flood-prone areas?</a></h5>
                </div>
                <div id="collapse12" class="card-body collapse" aria-labelledby="heading12" data-parent="#accordionExample">
                    <p>Yes, there are regulations and building codes governing construction in flood-prone areas. These regulations may include requirements for floodplain management, building elevation, flood-resistant materials, and proper drainage systems to minimize flood risk and ensure the safety of structures and occupants.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="heading13">
                    <h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                        What are the signs of an impending flood?</a></h5>
                </div>
                <div id="collapse13" class="card-body collapse" aria-labelledby="heading13" data-parent="#accordionExample">
                    <p>Signs of an impending flood may include heavy rainfall, rising water levels in rivers or streams, weather advisories or warnings issued by meteorological agencies, and reports of localized flooding in low-lying areas. Stay informed through weather updates and official alerts to prepare for potential flooding.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

{% block scripts %}
<script>
  // JavaScript for the accordion functionality
  var accordions = document.getElementsByClassName("accordion");

  for (var i = 0; i < accordions.length; i++) {
    accordions[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
</script>
{% endblock scripts %}
