{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

<div class="row">
  
    <div class="col-xl-8 col-md-6">
      <div class="card Recent-Users">
          <div class="card-header">
      <h4>List of Area with Contact Details</h4>
    </div>
   
    <div class="card-block px-0 py-3">
      <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <td>Area ID</td>
                <td>Office Location</td>
                <td>Phone Number</td>
                
            </thead>
          <tbody>
            <tr class="unread">
                <td>
                    <h6>1</h6>
                  </td>
              <td>
                <h6>Thiruvottiyur 19, Market Lane, Kaladipet, Thiruvottiyur, Chennai - 600 019</h6>
              </td>
              <td>
                <h6>25991908</h6>
              </td>
            </tr>
            <tr class="unread">
                <td>
                    <h6>2</h6>
                  </td>
              <td>
                <h6>Manali No.162, Nedunchezhian Salai, Manali, Chennai-600 068</h6>
              </td>
              <td>
                <h6>25940719</h6>
              </td>
            </tr> 
            <tr class="unread">
                <td>
                    <h6>3</h6>
                  </td>
              <td>
                <h6>Madhavaram No.1, Perumal Koil Street, Madhavaram, Chennai-600 060.</h6>
              </td>
              <td>
                <h6>25530100</h6>
              </td>
            </tr>
            <tr class="unread">
                <td>
                    <h6>4</h6>
                  </td>
              <td>
                <h6>Tondiarpet No.10-C, Central Avenue Road, MKB Nagar, Ch-600 039</h6>
              </td>
              <td>
                <h6>25984647</h6>
              </td>
            </tr>
            <tr class="unread">
                <td>
                    <h6>5</h6>
                  </td>
              <td>
                <h6>Royapuram No.1, M.C.Road, Royapuram, Chennai-600 021</h6>
              </td>
              <td>
                <h6>25904310</h6>
              </td>
            </tr>
            <tr class="unread">
                <td>
                    <h6>6</h6>
                  </td>
              <td>
                <h6>Thiru-Vi-Ka Nagar|No.2, Vadivelu Il Cross Street, Perambur, Chennai-600 011</h6>
              </td>
              <td>
                <h6>25517457</h6>
              </td>
            </tr>
            <tr class="unread">
                <td>
                    <h6>7</h6>
                  </td>
              <td>
                <h6>Ambattur No.1, T.S.Krishna Nagar, Mogappiar East, Anna Nagar, Chennai-600</h6>
              </td>
              <td>
                <h6>26562457</h6>
              </td>
            </tr>
            <tr class="unread">
                <td>
                    <h6>8</h6>
                  </td>
              <td>
                <h6>Anna Nagar 227, || Avenue, Near 12th Main Road, Anna Nagar, Chennai-600</h6>
              </td>
              <td>
                <h6>26212101</h6>
              </td>
            </tr>
            <tr class="unread">
                <td>
                    <h6>9</h6>
                  </td>
              <td>
                <h6>Teynampet No.1, Dr.Ranga Road, Abiramapuram, Chennai-600 018</h6>
              </td>
              <td>
                <h6>28150059</h6>
              </td>
            </tr>
            <tr class="unread">
                <td>
                    <h6>10</h6>
                  </td>
              <td>
                <h6>Kodambakkam No.9, Muthukrishnan Street, T.Nagar, Chennai-600 017</h6>
              </td>
              <td>
                <h6>28150059</h6>
              </td>
            </tr>
            <tr class="unread">
                <td>
                    <h6>11</h6>
                  </td>
              <td>
                <h6>Valasaravakkam  ||No.8A, Gangai Amman Koil Street,Alapakkam, Chennai-600</h6>
              </td>
              <td>
                <h6>24867244</h6>
              </td>
            </tr>
            <tr class="unread">
                <td>
                    <h6>12</h6>
                  </td>
              <td>
                <h6>Alandur No.1, New Street, Alandur, Chennai-600 016</h6>
              </td>
              <td>
                <h6>22331606</h6>
              </td>
            </tr>
            <tr class="unread">
                <td>
                    <h6>13</h6>
                  </td>
              <td>
                <h6>Adyar No.42, First Main Road, Chennai-600 020</h6>
              </td>
              <td>
                <h6>24451121</h6>
              </td>
            </tr>
            <tr class="unread">
                <td>
                    <h6>14</h6>
                  </td>
              <td>
                <h6>Perungudi No 1, Rajiv Gandhi Salai, OMR, Kottivakkam, Chennai - 600041</h6>
              </td>
              <td>
                <h6>24545873</h6>
              </td>
            </tr>
            <tr class="unread">
                <td>
                    <h6>15</h6>
                  </td>
              <td>
                <h6>Sholinganallur Kalaignar karunanidhi Salai, Sholinganallur, Chennai 600 119</h6>
              </td>
              <td>
                <h6>24500262</h6>
              </td>
            </tr>

            
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>
 

   <!-- [ Additional Content ] start -->
   <div class="col-xl-4 col-md-6">
    <!-- Card with information about flood prevention -->
    <div class="card card-event">
      <div class="card-header">
        <h5>Flood Prevention Tips</h5>
      </div>
      <div class="card-block">
        <ul>
          <li>Keep drains and gutters clear of debris.</li>
          <li>Ensure proper drainage around your property.</li>
          <li>Invest in flood barriers or sandbags for vulnerable areas.</li>
          <li>Elevate electrical appliances and utilities.</li>
          <li>Develop a family emergency plan.</li>
          <!-- Add more tips as needed -->
        </ul>
      </div>
    </div>
  </div>
  <!-- [ Additional Content ] end -->
  </div>
  <!-- [ Main Content ] end -->

{% endblock content %}

{% block scripts %}
<script>
  // JavaScript for the accordion functionality
  var accordions = document.getElementsByClassName("accordion");

  for (var i = 0; i < accordions.length; i++) {
    accordions[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
</script>
{% endblock scripts %}
