{% load i18n static admin_datta %}

<nav class="pcoded-navbar">
  <div class="navbar-wrapper">
    <div class="navbar-brand header-logo">
      <a href="{% url 'index' %}" class="b-brand">
      
        <span class="b-title">Floodshield</span>
      </a>
      <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
    </div>
    <div class="navbar-content scroll-div">
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item pcoded-menu-caption">
          <label>Navigation</label>
        </li>
    
        
        <li class="nav-item">
          <a href="/admin_dashboard" class="nav-link "><span class="pcoded-micon"><i
                class="feather icon-zap text-c-green"></i></span><span class="pcoded-mtext">Dashboard</span></a>
        </li>

        <li class="nav-item">
          <a  href="/users" class="nav-link "><span class="pcoded-micon"><i
                class="feather icon-zap text-c-green"></i></span><span class="pcoded-mtext">Manage Users</span></a>
        </li>
     
     
     

       

       
      </ul>
    </div>
  </div>
</nav>